.error
{
	color: #E4324C;
	font-weight: 700;
}
.formlbl
{
	color: #3B4483;
	font-weight: 800;
}
.categorytitle
{
	text-transform: uppercase;
	font-family: Arial;
	font-weight: 250;
}
.subcategorytext
{
	font-weight : 250;
}